@font-face {
    font-family: "spongebob-font";
    src: url("Assets/fonts/SpongeboyRegular-gx2n6.ttf");
}

* {
    box-sizing: border-box;
}

html { 
    background: url(Assets/images/bikini\ bottom.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: url("Assets/cursors/Krabby\ Patty\ Normal\ Select.cur"), auto;
}

.page-title {
    font-family: "spongebob-font";   
    color: #FFEE28;
    font-size: 4em;
    text-align: center;
    text-shadow: 3px 3px black;    
}

.game-info-container {
    font-family: "spongebob-font";
    color: #FFEE28;
    font-size: 2em;
    text-shadow: 2px 2px black;
    grid-column: 1 / -1;
    display: flex;
    justify-content:space-between; 
}

.game-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 20px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}

.card {
    position: relative; 
    height: 150px;
    width: 135px;
}

.card-face {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; /* center y axis */
    align-items: center; /* center x axis */
    backface-visibility: hidden;
}

.card-front {
    background: linear-gradient(#fdcd2d , #ffed89 );
    border: 5px solid #ffc400;
    outline: 4px solid black;
    transform: rotateY(180deg);
    transition: 500ms ease-in-out;
} 

.card-back {
    border: 5px solid #ffea00;
    outline: 4px solid black;
    transition: 500ms ease-in-out;
}

.card-value {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: 100ms ease-in-out;
}

.jellyfish {
    position: absolute;
    height: 101%;
    width: 101%;
    transition: 100ms ease-in-out 
}

.card:hover {
    transform: scale(1.1);
}

.card.visible .card-front {
    transform: rotateY(0deg);
} 

.card.visible .card-back {
    transform: rotateY(180deg);
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(30, 38, 160, 0.93);
        font-size: 5em;
    }
}

@keyframes faded-out {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    z-index: 100;
    font-family: "spongebob-font";
    color: #FFEE28;
    text-shadow: 5px 5px black;     
    flex-direction: column; 
}

.overlay-text.visible { 
    display: flex;
    animation: overlay-grow 500ms forwards;
}

.sec {
    font-size: 0.65em;
    margin-top: 50px;
}

.mode {
    font-size: 0.65em;
    margin-top: 50px;
}

.collections {
    font-size: 0.65em;
    margin-top: 50px;
}

.card.matched .card-front {
    opacity: 0;
    animation: faded-out 250ms;
}

.flips {
    font-size: 0.65em;
    margin-top: 50px;
}

.hoverable {
    transition: transform 200ms ease-in-out;
}

.hoverable:hover {
    transform: scale(1.2);
}